@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema claro */
:root {
  --background: #f3f0ec;
  --foreground: #020202;

  --primary: #005854;
  --primary-foreground: #f3f0ec;

  --secondary: #6fb08f;
  --secondary-foreground: #1e3a1c;

  --muted: #e6f5e9;
  --muted-foreground: #3b593c;

  --border: #d0e7d5;
  --input: #eaf4ed;
}
